<html>
    <head></head>
    <body>
        <h1>
            Order Success
        </h1>

    <form method="get" asp-controller="Review" asp-action="ReviewForm">
        @* <input type="number" name="orderId" value="@ViewBag.OrderId" readonly/> *@
        <button type="submit" class="btn btn-primary">Review Order</button>
    </form>
    </body>
</html>